@font-face {
    font-family: AMYSansWeb;
    src: url("../../assets/font/AMYSansWeb.woff") format("woff");
}

* {
    font-family: AMYSansWeb;
}

body {
    margin: 0;
    width: 99.55%;
    height: 100%;
}

.all {
  margin-top: 1%;
  margin-left: 0.575%;
}

.boxes {
  background-color: #CCCCCC;
  height: 43.96%!important;
  border: 1px solid #FFF;
  border-radius: 5px;
	display: inline-block;
}

.likes {
    width: 79%!important;
}

.comments {
    width: 20%!important;
}

.adds {
    width: 79%!important;
}

.flounflo {
    width: 20%!important;
}

@media screen and (max-width: 858px){
.boxes{
	margin-bottom: 10px;
}

.likes {
    width: 99%!important;
}

.comments {
    width: 99%!important;
}

.adds {
    width: 99%!important;
}

.flounflo {
    width: 99%!important;
}
}
